<h1>[DATA DISPLAY - For Device]</h1>
<table class="table table-condensed">
  <thead>
    <tr>
      <td>Device Id</td>
      <td>Platform</td>
      <td>Time</td>
      <td>Motion Type</td>
      <td>Latitude</td>
      <td>Longitude</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="datapoint in vm.data">
      <td>{{datapoint.deviceId}}</td>
      <td>{{datapoint.platform}}</td>
      <td>{{datapoint.timestamp}}</td>
      <td>{{datapoint.motion}}</td>
      <td>{{datapoint.lat}}</td>
      <td>{{datapoint.long}}</td>
    </tr>
  </tbody>
</table>